#skills-section {
    max-width: 1400px;
    margin: 40px auto;
    padding: 20px;
  }
  
  #skills-section h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #skills-section h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    padding: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .icon p {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  
  